//
// Variables
// --------------------------------------------------


//== Colors
//

// Apigee brand colors
@apigee-orange:         #fc4c02;
@apigee-blue:           #298fc2;
@apigee-green:          #009f4d;

@apigee-grey-00:        #4a494a; // extra
@apigee-grey-01:        #54585a;
@apigee-grey-02:        #707372;
@apigee-grey-03:        #a2aaad;
@apigee-grey-04:        #d0d3d4;
@apigee-grey-05:        #e5e1e6;
@apigee-grey-06:        #EDEBEE; // extra
@apigee-grey-07:        #F6F5F6; // extra

// Additional Apigee colors
@apigee-vivid-red:      #ef4823;
@apigee-dark-cyan:      #129b4d;
@apigee-strong-blue:    #1a98d5;
@apigee-dark-magenta:   #813b96;
@apigee-bright-orange:  #faa438;
@apigee-dark-grey-blue: #59595b;

@apigee-olive:          #7a9543; // Analytics
@apigee-light-blue:     #5287a2; // Dev Adoption
@apigee-yellow:         #d3990a; // Security OAuth
@apigee-purple:         #7c5377; // Digital Strategy
@apigee-brown:          #8c6239; // API Design
@apigee-red:            #ac5d5f; // Mobile Apps
@apigee-dark-blue:      #4a5981; // Product

//== Paths
//
//## Specify location of fonts and images

//** Load fonts from this directory.
@font-path:             "/fonts/";
//** Load fonts from this directory.
@image-path:            "/images/";
