//
// Marketing footer
// --------------------------------------------------


.footer {
  color: @gray;

  a {
    color: @gray-light;
  }
}

.footer-tabs {
  > li {
    .footer-tab;
  }

  @media (min-width: @screen-sm-min) {
    > li {
      + li {
        border-left: 5px solid transparent;
      }
    }
  }
}

.footer-tab(@color: #fff; @background: @brand-primary) {
  > a {
    color: @color;
    background: @background;

    &:hover,
    &:focus {
      color: @color;
      background-color: darken(@background, 5%);
    }
  }
}

.footer-tabs-container {
  width: 50%;
  margin: 0 auto;
}

.footer-background-container,
.footer-content-container {
  background: @gray-darker;
}

.footer-content-container {
  padding: @line-height-computed;
  padding-bottom: (@line-height-computed / 2);
}

.footer-copyright {
  border-color: @gray-dark;
}
